#e60010
#de2236
#2b292b
#fe1937
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: Open-sans, sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;

    background-color: white;
  }

  .bar2019 {
    fill: steelblue;
  }
  .bar2020 {
    fill: rebeccapurple;
  }

  #myTooltip {
    position: absolute;
    text-align: left;
    width: 80px;
    height: 15px;
    min-height: 15px;
    padding: 2px;
    font: 12px sans-serif;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(100, 161, 209);
    color: #5E99BD;
    border-radius: 8px 8px 8px 8px;
    pointer-events: none;
    padding: 8px;
   }

   #myTooltip:before {
    box-sizing: border-box;
    display: inline;
    font-size: 18px;
    width: 100%;
    line-height: 1;
    color: rgb(100, 161, 209);
    content: "\25BC";
    position: absolute;
    text-align: center;
    top: 100%;
    left: -2px;
}

#bar-chart {
  background-color: white;
}

  .visualisation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -3%;
  }
  .visualisation button {
      display:inline-block;
      width: 150px;
      padding:0.7em 1.7em;
      margin:0 0.3em 0.3em 0;
      border-radius:0.2em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:400;
      color:#FFFFFF;
      background-color:#e60010;
      box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
      text-align:center;
      position:relative;
  }
  .visualisation button:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  }

  .bttn-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 480px;
    height: 204px;
    padding: 22px 10px 22px 22px;
    margin-top: 10%;
    background-color: rgba(191, 191, 191, 0.8);
    border-radius: 25px;
  }

  .month-bttn {
    
  }

  .year-bttn button{
    width: 466px;
  }