#e60010
#de2236
#2b292b
#fe1937
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: Open-sans, sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
    background-color: #e60010;
    overflow: auto;
    border: 0;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  .header {
    position: relative;
    text-align: center;
    background: url("./img/Bernmobil.jpg");
    background-size: 100%; /* contain */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 200px;
  }

  #title {
    text-align: center;
    font-size: 5rem;
    color: #ffffff;
    text-shadow: 0 0 5px black;
    position: absolute;
    top: 200px;
    left: 8%;
    /*top: -700px;*/
    max-width: 80%;
    overflow-wrap: break-word;
  } 

  .background {

  }

  .wave-container {
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 150%;
    background: url(kiwi.svg);
    background-size: 100px 82px;
  }
  
  .wave-container > svg {
    display: block;
    height: 100%;
    width: 100%;
  }

/* Chart */
 #chart-title {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 5px black;
    position: absolute;
    margin: -80px 15% 0 15%;
    
}
 #chart {
  margin-bottom: 0px;
  max-width: 80%;
  overflow: auto;
 }

 #year-number {
  color: #ffffff;
  text-shadow: 0 0 5px black;
 }
.lastWagon2019 {

}

/* Bar chart*/
  #bar-chart {
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 200px;
    margin-right: 50px;
  }

  #bar2019 {
    fill: #4682b4;
  }
  #bar2020 {
    fill: #663399;
  }

  .text {
    font-size: 1.3em;
    fill: gray;
    width: 100px;
    max-width: 100px;
    display: block;
  }

  #myTooltip {
    position: absolute;
    text-align: left;
    width: 100px;
    height: 15px;
    min-height: 15px;
    padding: 2px;
    font: 12px sans-serif;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(100, 161, 209);
    color: #5E99BD;
    border-radius: 8px 8px 8px 8px;
    pointer-events: none;
    padding: 8px;
   }

   #myTooltip:before {
    box-sizing: border-box;
    display: inline;
    font-size: 18px;
    width: 100%;
    line-height: 1;
    color: rgb(100, 161, 209);
    content: "\25BC";
    position: absolute;
    text-align: center;
    top: 100%;
    left: -2px;
}

#massnahmen {
  position: absolute;
  text-align: left;
  width: 80px;
  height: 15px;
  min-height: 15px;
  padding: 2px;
  font: 12px sans-serif;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(100, 161, 209);
  color: #5E99BD;
  border-radius: 4px 4px 4px 4px;
  pointer-events: none;
  padding: 8px;
 }

 /* Buttons for bar chart*/
  .bar-chart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -3%;
  }
  .bar-chart button {
      display:inline-block;
      width: 150px;
      padding:0.7em 1.7em;
      margin:0 0.3em 0.3em 0;
      border-radius:0.2em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:400;
      color:#FFFFFF;
      background-color:#e60010;
      box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
      text-align:center;
      position:relative;
  }
  .bar-chart button:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  }

  .bttn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 480px;
    height: 204px;
    margin-top: 10%;
    padding: 22px 10px 22px 22px;
    background-color: rgba(191, 191, 191, 0.8);
    border-radius: 25px;
  }

  .month-bttn {
    
  }

  .year-bttn button{
    width: 466px;
    margin-left: -11px;
  }


  /* Footer */
  .footer {
    background-color: #de2236;
    width: 100%;
    color: white;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.4;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .footer a {
    color: white;
  }
  .footer a:hover {
    font-size: 120%;
    color: white;
  }
  .copyright {
    width: 25rem;
    overflow-wrap: break-word;
    margin-bottom: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .impressum {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }
  .madeby {
    margin-top: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 800px) {
    #title {
      top: -300px;
      color: #4682b4;
    }
  }