#e60010
#de2236
#2b292b
#fe1937
/*bar chart*/
#354E77
#004F84
/* for massnahmen and lockerung*/
#54BD00

/*button background*/
#756a6b

:root {
  --percentage: 50%;
  --red: #e60010; /* doesnt work??*/
  --bar2019: rgb(30,60,108);
  --bar2020: rgb(47,131,191);
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    width: 100%;
  
    font-family: Open-sans, sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
    background-color: #e60010;
    overflow: auto;
    border: 0;
    margin: 0;
    padding: 0;
  }

  img { /* Bruchi wou nid*/
    max-width: 100%;
  }

  .header {
    position: relative;
    text-align: center;
    background: url("./img/bernmobil.png");
    background-size: 100%; /* contain */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 200px;
  }

  #title, #subtitle{
    text-align: center;
    font-size: 5rem;
    color: #ffffff;
    text-shadow: 5px 5px 5px black;
    position: absolute;
    top: 200px;
    left: 8%;
    /*top: -700px;*/
    max-width: 80%;
    overflow-wrap: break-word;
  } 

  #subtitle {
    margin-top: 42rem;
    font-size: 4rem;
    left: 10%;
    right: 10%;
  }

  .background {

  }

  .wave-container {
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 150%;
    background: url(kiwi.svg);
    background-size: 100px 82px;
  }
  
  .wave-container > svg {
    display: block;
    height: 100%;
    width: 100%;
  }

/* Tram chart */
  .chart-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 300px 10% 300px 10% ;

    padding: 10px;
    background-color: white;
    border-color: #000;
    border-width: 0.2rem;
    border-style: outset;
    box-shadow: 0 0 5px black;
    border-radius:1rem;
}
 #chart-title {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 5px black;
    position: absolute;
    margin: -200px 15% 0 15%;
}
 #chart {
  margin-bottom: 0px;
  max-width: 80%;
  margin-left: -10%;
  overflow: visible;
 }

 #year-number {
  text-shadow: 0 0px 10px rgb(0, 0, 0);
 }
#lastWagon2020 {
  clip-path: inset(0 0 0 var(--percentage));
}

/* Bar chart*/
  .bar-chart-title {
    text-align: center;
    
  } 

  .bar-chart-title h1{
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 5px black;
    position: absolute;
    max-width: 80%;
    left: 10%;
    margin-top: -250px;
  }

 .bar-chart-container {
    display: flex;
    width: 90%;
    margin: 0 10% 0 10%;
    padding: 10px;
    background-color: white;
    border-color: #000;
    border-width: 0.2rem;
    border-style: outset;
    box-shadow: 0 0 5px black;
    border-radius:1rem;
 }

 .svg-container {
    flex: 4 0 0;
    max-width: calc(70%);
   /* margin-left: 100px; */
 }

 .svg-container svg {
  background-color: rgba(255, 255, 255, 1);
/* box-shadow: 0 5px 10px black; */
 }
  #bar2019 {
    fill: #003E71;
  }
  #bar2020 {
    fill: #1796D2;
  }

  .text {
    font-size: 1.3em;
    fill: black;
    width: 100px;
    max-width: 100px;
    display: block;
  }

  #myTooltip {
    position: absolute;
    text-align: left;
    width: 100px;
    height: 15px;
    min-height: 15px;
    padding: 2px;
    font: 12px sans-serif;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(100, 161, 209);
    color: #5E99BD;
    border-radius: 8px 8px 8px 8px;
    pointer-events: none;
    padding: 8px;
   }

   #myTooltip:before {
    box-sizing: border-box;
    display: inline;
    font-size: 18px;
    width: 100%;
    line-height: 1;
    color: rgb(100, 161, 209);
    content: "\25BC";
    position: absolute;
    text-align: center;
    top: 100%;
    left: -2px;
}

 /* Buttons for bar chart*/
 .bar-chart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -3%;
    padding-top: 100px;
  }

  #monthLabel {
    font-size: 1.2rem;
  }

/*  .bar-chart svg {
    box-shadow: 0 5px 10px black;
  } */
  .bar-chart button {
      display:inline-block;
      width: 120px;
      padding:0.7em 1.7em;
      margin:0 0.3em 0.3em 0;
      border-radius:0.2em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:400;
      color:#FFFFFF;
      background-color:#e60010;
      box-shadow: 0 0px 3px black;
      text-align:center;
      position:relative;
  }
  .bar-chart button:active{
    box-shadow: 0 3px 0 ,0px 3px 6px rgba(0, 0, 0, .7);
    position: relative;
    top: 2px;
  }
  .bar-chart button:hover{
    box-shadow: 0 0px 10px black;
  }

  .bttn-box {
    display: flex;
    flex: 1 0 0;
    max-width: 25%;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 450px;
    height: 204px;
    margin: 200px 0px 100px 0px;
    padding: 27px 0px 210px 22px;
    background-color: #A4ABBD;
    box-shadow: 0 5px 10px black;
    border-radius: 25px;
  }

  .month-bttn {
    
  }

  .year-bttn button{
    width: 376px;
    margin-left: -14px;
  }

  /*Heatmap*/
  #heatmap-div {
    margin: 20rem 10% 10rem 10%;

    padding: 10px;
    background-color: white;
    border-color: #000;
    border-width: 0.2rem;
    border-style: outset;
    box-shadow: 0 0 5px black;
    border-radius:1rem;
  }

  #heatmap-div h1{
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 5px black;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -110px;
}

  #heatmap-div svg {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
  }

  text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }

  text.axis-workweek {
    fill: #000;
  }

  text.axis-worktime {
    fill: #000;
  }
  /* Cards */
  #cards-container {
    display: flex;
    flex-direction: row;

    margin: 10rem 10% 10rem 10%;
    padding: 10px;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin: 0rem auto 5rem auto;
  }
  .bestDay, .worstDay, .dayAverage, .totalPassenger {
    color: black;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    margin: 0rem 1rem 0rem 1rem;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-color: #000;
    border-width: 0.2rem;
    border-style: outset;
    box-shadow: 0 0 5px black;
    border-radius:1rem;
  }
  
  .card p{
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
  }
  .card-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 50%;
  }
  .card-title {
    background-color: #081d58;
    color: white;
  }
  /*
  .bestDay>.card-title {
    background-color: #081d58;
    color: white;
  }
  .worstDay>.card-title {
    background-color: #081d58;
    color: white;
  }
  .dayAverage>.card-title {
    background-color: #081d58;
    color: white;
  }
  .totalPassenger>.card-title {
    background-color: #081d58;
    color: white;
  }*/
  .card h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .card-year {
    background-color: white;
    color: black;
    text-decoration: underline;
  }
  .bestDay:hover, .worstDay:hover, .dayAverage:hover, .totalPassenger:hover {
    box-shadow: 0 15px 25px 0 #000;
  }


  /* Footer */
  .footer {
    background-color: #de2236;
    width: 100%;
    /*height: 25rem; */
    color: white;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.4;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .footer a {
    color: white;
  }
  .footer div{
    margin-bottom: 2rem;
  }
  .copyright {
    width: 25rem;
    overflow-wrap: break-word;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  @media screen and (max-width: 1200px) {
    #title {
      top: 250px;
      font-size: 4rem;
    }
    .bttn-box {
      margin: 50px 0px 50px 70px;
    }
    #heatmap-div h1{
      margin-top: -140px;
    }
  }